img.img-rounded(itemprop='image', src='/assets/img/blog-author.jpg', alt='Willian Justen')
h2 About Me
p
  | My name is 
  strong(itemprop='name') Salman Malik
  | , I am 31 years old
  | . I was born and raised in 
  em Chicago
  | , Illinois. I currently reside in Washington D.C.
p
  | I studied Aerospace Engineering at the Univesity of Illinois at Urbana-Champaign. 
p
  | Once I graduated I went into consulting and made my way into the realm of digital analytics, as it was becoming a more well known field.
p
  | I worked as a tehcnical implementation consultant for several years for a Chicago based analytics firm called Stratigent. 
p
  | I found myself no longer being challenged technically so made the transition to a Chicage startup called Signal that developed a Tag Management System as well as an Customer Identity Platform. I learned a lot of engineering best practices while there for almost four years. I also got the full start up experience which is something truly valuable both professionally and personally.
p
  | After my tenure at Signal it was time to try something new and now I find myself in the role of a Data Engineer at TD Ameritrade. Made the move from Chicago to Washington, D.C, and the rest, as they say, is history.
h2 Skills
ul.skill-list
  li Python (Flask)
  li Java
  li CSS Frameworks (Bootstrap, Foundation)
  li Javascript / jQuery 
  li Git / Github
  li Scrum and Kanban
h2 Projects
ul
  li
    a(href='https://www.amazon.com/Salman-Malik-Dad-Jokes/dp/B07N6TDVN3/ref=sr_1_42?keywords=dad+jokes+skill&qid=1552870285&s=gateway&sr=8-42') Alexa Skill for Telling Dad Jokes